/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images/car/images/*
!/public/images/car/images/default.png
/public/images/company/profile_images/*
!/public/images/company/profile_images/default.png
/public/images/profile_images/*
!/public/images/profile_images/default.png
/public/company/credentials/files/*
/public/company/credentials/images/*
/public/user/credentials/files/*
/public/user/credentials/images/*

