* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Poppins", sans-serif;
    height: 100% !important;
}

body {
    font-family: "Poppins", sans-serif;
    color: #212112;
}

.index-form {
    margin: 4% 0;
}

.sidebar {
    border-right: 1px solid gray;
}

.content {
    height: 90% !important;
    /* background-color: aqua; */
}

.cont-row {
    margin: 2% 0;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.card img {
    padding: 14px 80px 18px 36px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.booking {
    /* margin-left: 100px; */
    margin-top: 15px;
}

.pricing {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
}

.carousel-inner {
    height: 0;
    padding-bottom: 60%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: contain; /* or 'contain' if you want stretch instead of crop */
}
